<footer class="footer">
    <div class="footer__container--button">
      <a class="footer__button" href="./index.html#header">
        <img src="./assets/images/ico-arrow.svg" alt="flecha-que-asciende"/></a>
    </div>

   <ul class="footer__list">
    <li><a class="footer__list--item" href="https://adalab.es" target="_blank">ZAPATILLAS</a></li>
    <li><a class="footer__list--item" href="https://adalab.es" target="_blank">ROPA</a></li>
    <li><a class="footer__list--item" href="https://adalab.es" target="_blank">NIÑO/A</a></li>
    <li><a class="footer__list--item" href="https://adalab.es" target="_blank">DESTACADOS</a></li>
    <li><a class="footer__list--item" href="https://adalab.es" target="_blank">TIPS</a></li>
   </ul>

   <ul class="footer__list">
    <li><a class="footer__list--item" href="https://adalab.es" target="_blank">TWITTER</a></li>
    <li><a class="footer__list--item" href="https://adalab.es" target="_blank">INSTAGRAM</a></li>
    <li><a class="footer__list--item" href="https://adalab.es" target="_blank">YOUTUBE</a></li>
   </ul>

   <section class="footer__end">
    <span class="footer__end--item" >&copy;2023</span>
    <p class="footer__end--item">we <i class="fa-solid fa-heart heart"></i> run</p>
   </section>
  </footer>