<header class="header">

    <div class="header__burger">
      <img src="./assets/images/ico-menu.svg" alt="menu">
      <a href="#"></a>
    </div>

    <section class="header__hero">
      <div class="hero-content">
        <h1 class="header__title">HASTA UN 50% DE DESCUENTO</h1>
        <p class="header__text">Ya estań aquí las ofertas de temporada</p>

        <div class="header__button">
          <img src="./assets/images/ico-scroll-down.svg" alt="flecha-para-bajar">
          <a href="#"></a>
        </div>

      </div>
    </section>

  </header>