<header class="header" id="header">

    <div class="header__menu">
      <a href="https://adalab.es" target="_blank"><img src="./assets/images/ico-menu.svg" alt="menu"></a>
    </div>

    <section class="header__hero">
      <h1 class="header__title">HASTA UN 50% DE DESCUENTO</h1>
      <p class="header__text">Ya estań aquí las ofertas de fín de temporada</p>

      <div class="header__button">
        <a href="./index.html#main2"><img src="./assets/images/ico-scroll-down.svg" alt="flecha-para-bajar"></a>
      </div>

    </section>

  </header>