<section class="main__sec1">
    <p class="main__sec1--feelings">Los sentimientos nos inspiran</p>
    <h2 class="main__sec1--title">Conecta contigo</h2>
    <p class="main__sec1--text">
      Esto es una celebración de todo lo que nos mueve. Del poder elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimineto y a la plena consciencia que tan bien nos hacen sentir.
    </p>
    <div class="main__sec1--button">
      <a class="main__button" href="#">Comprar</a>
    </div>
</section>