<section class="main__sec2">
    <h3 class="main__sec2--title">Año nuevo, movimientos nuevos</h3>

    <article class="main__sec2--article">
      <h4 class="main__sec2--title">Entrenamientos</h4>
      <p class="main__sec2--text">Sesiones de running y entrenamientos.</p>
    </article>
    <article class="main__sec2--article">
      <h4 class="main__sec2--title">Cualquier nivel</h4>
      <p class="main__sec2--text">Entrenamientos para cada nivel.</p>
    </article>
    <article class="main__sec2--article">
      <h4 class="main__sec2--title">Exclusividad</h4>
      <p class="main__sec2--text">Productos para miembros premium.</p>
    </article>

    <div class="main__sec2--cont-button">
      <a href="#">Empezar ahora</a>
    </div>
  </section>
