:root {
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
}

$color-primario: #fff;
$color-shadow: #979797;
$color-buttons: #f26002;
$color-main2: #f2f2f2;
$color-footer: #4a4a4a;