footer {
    background-color: $color-footer;
    padding-bottom: 2.5rem;
}

.footer__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
    line-height: 1.5;
}

.footer__container-button {
    width: 4.5rem;
    height: 4.5rem;
    background-color: $color-primario;
    padding: 0.8rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 2rem;
    transition: all 0.5s linear;
}

.footer__container-button:hover {
    padding: 1.5rem;
    background-color: #333;
}

.footer__button {
    width: 100%;
}
.footer__button-img {
    width: 100%;
}


.footer__list-item {
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
}

.footer__end {
    margin-bottom: 3rem;
}

.footer__end-item {
    font-size: 1.4rem;
    color: #fff;
}
.heart {
    color: #f26002;
}