.header__menu {
    position: fixed;
    /*z-index: 1;*/
    background-color: #f26002;
    padding: 1rem;
}

.header__hero {
    height: 100vh;
    background-image: url('../images/cover.jpeg');
    background-size:cover;
    margin: 0;
    text-align: center;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}


.header__title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 2rem;
    /*height: 25%;*/
}

.header__text {
    font-size: 3rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    /*height:10%;*/
}

.header__button {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 50%;
}



