.main__sec2 {
    background-color: $color-main2;
    padding: 2rem;
}

.main__sec2-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.main__sec2-subtitle {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem;
}

.main__sec2-text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.15;
    margin-bottom: 1rem;

}

.main__sec2-container {
    margin: 2.5rem 0;
    background-color: $color-buttons;
    padding: 1rem;
    width: 20rem;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.sec2-button {
    color: $color-primario;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}