.main__sec1 {
    padding: 1rem;

}
.main__sec1-feelings {
    color: #f26002;
    margin: 1rem 0;
    font-size: 1.4rem;
}

.main__sec1-title {
    color: black;
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.main__sec1-text {
    color: #979797;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.main__sec1-button {
    border: 0.2rem solid #f26002;
    background-color: #fff;
    padding: 1rem 1rem;
    width: 20rem;
    border-radius: 2rem;
}
        
.main__button{
    color: #f26002;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}
    