.main__sec1 {
    padding: 1rem;
}
.main__sec1--feelings {
    color: #f26002;
    margin: 1rem 0;
    font-size: 0.9rem;
}

.main__sec1--title {
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.main__sec1--text {
    color: #979797;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.main__sec1--button {
    border: 0.2rem solid #f26002;
    background-color: #fff;
    padding: 0.5rem 1rem;
    width: 40vw;
    border-radius: 2rem;
}
        
.main__button{
    color: #f26002;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}
    