@media all and (min-width:768px) {
    .header__menu {
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
    }
    .header__menu-burger {
        width: 100%;
    }
    .header__menu-img {
        width: 100%;
    }
    .header__hero {
        padding-bottom: 5%;
    }
    .header__title {
        font-size: 7.5rem;
    }
    .header__text {
        font-size: 2.4rem;
    }
    .header__button {
        width: 4.5rem;
        height: 4.5rem;
    }
    .header__button-arrow {
        width: 100%;
        height: 100%;
    }


    .main__sec1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 4rem;
    }
    .main__sec1-feelings {
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
    .main__sec1-title {
        margin-bottom: 2rem;
        font-size: 3.2rem;
    }
    .main__sec1-text {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    .main__sec1-button {
        width: 16rem;
    }
    

    .main__sec2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding: 3rem 2.5rem;
    }
    .main__sec2-title {
        grid-column: 1/4;
        font-size: 2.8rem;
    }
    .main__sec2-article {
        padding: 1.5rem;
    }
    .main__sec2-subtitle {
        font-size: 2.4rem;
    }
    .main__sec2-text {
        font-size: 2rem;
    }
    .grid__box1 {
        grid-column: 1/2;
    }
    .grid__box2 {
        grid-column: 2/3;
    }
    .grid__box3 {
        grid-column: 3/4;
    }
    .main__sec2-container {
        grid-column: 2/3;
    }
    .main__sec2-container {
        padding: 1.5rem;
        border-radius: 3rem;
    }


    .footer__links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 1rem;
        margin-left: 4rem;
    }
    .footer__list {
        text-align: left;
    
    }
    .footer__end {
        order: -1;
        text-align: left;
    }
    
}
